@model StudentskiHotel.Web.Areas.ModulZaposlenik.ViewModels.DodajTuristaVM


<form action="/ModulZaposlenik/Turist/SnimiTurista" autocomplete="off">
    <table>
        <tr>
            <td>Ime:</td>
            <td>@Html.TextBoxFor(x => x.Ime, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Prezime:</td>
            <td>@Html.TextBoxFor(x => x.Prezime, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Broj pasosa:</td>
            <td>@Html.TextBoxFor(x => x.BrojPasosa, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Kontakt telefon:</td>
            <td>@Html.TextBoxFor(x => x.KontaktTelefon, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Drzava:</td>
            <td>@Html.DropDownListFor(x => x.DrzavaID, Model.Drzave, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><input type="submit" value="Snimi" class="btn btn-dark" /></td>
        </tr>

  
    </table>

</form>

